:root {

    --fuentePrincipal: 'Staatliches', cursive;
    --azul: rgb(10, 33, 51);
    --blanco: white;
    --negro:black; 
    --celeste:rgb(71, 176, 217);
    --negroopacidad: #0000003d;
    --suaveplomo: #C7C7C7;
    --amarillo:rgb(255, 204, 0);
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

/* GENERAL */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: y mandatory;

}

*,
* ::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body {
    font-family: 'Quicksand', sans-serif;
    background: var(--azul);
    transition: background-color 0.4s, color 0.4s;
    font-size: 1.3rem;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    position: relative;
}



.inactive {
    display: none;
}

/* BARRA DE NAVGACION PRINCIPAL  */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 24px;
    
}

.nav-fixed{
   /* background-color: var(--azul);*/
    color: var(--blanco);
    margin-top: 20px;
    }

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: 10px;
}

.navbar-left {
    display: flex;
  }
  
  .navbar-left ul {
    margin-left: 12px;
  }
  
  /* Botones */
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none; /* Quita el subrayado */
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  
  position: relative;
  transition: .5s ease;
}
  
  
  /* Efecto botones  */
  .navbar-left ul li a::before,
  .navbar-right ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--celeste);
    transition: .5s ease;
    
  }
  
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover {
    color: var(--blanco);
  transition-delay: .5s;
  }

  .navbar-left ul li a:hover::before,
  .navbar-right ul li a:hover::before {
    width: 100%;
  }
  
  .navbar-left ul li a::after,
  .navbar-right ul li a::after  {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: var(--celeste);
    transition: .4s ease;
    z-index: -1;
    
  }

  .navbar-left ul li a:hover::after,
  .navbar-right ul li a:hover::after {
    height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
  }

.logo{
    height: 80px;
    width: 200px;
   
}

  



/* NAV MOBILE */

.hamburger-menu{
    display: none;
    
}

.mobile-menu {
    
    z-index: 10;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 35%;
    padding: 24px;
    border-radius: 0 8px 8px 0; /* Radio de esquina derecho e inferior derecho */
    background-color: var(--white);
    box-shadow: 5px 5px 25px -10px var(--black);
    background-color: rgb(8, 115, 177);
  }
  
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--blanco);
  }
  
  .mobile-menu ul li {
    margin-bottom: 24px;
  }

  .sign-out {
    font-size: var(--sm);
    color: var(--blanco) !important;
  }

/* CHECKBOX */

.dark-mode{
    background-color: var(--negro); /* Cambia el color de fondo de los contenedores de tarjetas */
    color: white; /* Cambia el color del texto a blanco */
}
#switch {
    display: none;
  }
  
  label {
    cursor: pointer;
    text-indent: -2000px;
    width: 40px;
    height: 20px;
    background: var(--celeste);
    border-radius: 200px;
    position: relative;
    display: inline-block;
    /* Agregamos esta línea para que ocupe el espacio adecuado */
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 90px;
    transition: 0.4s;
  }
  
  input:checked+label {
    background: var(--amarillo);
    
  }
  
  input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-80%);
    background: var(--blanco);
    /* Corregimos esta línea */
  }




/* Agrega esto en el media query */
@media (max-width: 952px) {
    .menu {
      display: none; /* No necesitas esto aquí */
    }
  
    .navbar-left ul {
      display: none; /* No necesitas esto aquí */
    }
  
    /* Agrega el botón hamburguesa */
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      margin-top: 29px;
      width: 2.5rem;
      height: 2.5rem;
      border: 0;
      background: transparent;
      gap: .67rem;
    }



    .hamburger-menu > div {
        background-color: var(--blanco);
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
    }

    .hamburger-menu:hover div:first-child{
        transform: rotate(45deg);
    }

    .hamburger-menu:hover div:nth-child(2){
        opacity: 0;
    }    

    .hamburger-menu:hover div:last-child{
        transform: rotate(-45deg);
    }

    
    /* Centra solo la imagen */
    .navbar-left .logo {
    display: block;
    margin: 0 auto !important; /* Margen automático horizontal para centrar */
  }
    
   
  }

  @media (max-width: 640px) {
    .navbar-right{
        display: none;
    }
   
    .logo {
        display: block;
        margin: 0 auto; /* Margen automático horizontal para centrar */
      }
  }
  
  
