:root {

  --fuentePrincipal: 'Staatliches', cursive;
  --azul: rgb(10, 33, 51);
  --blanco: white;
  --negro: black;
  --celeste: rgb(71, 176, 217);
  --negroopacidad: #0000003d;
  --suaveplomo: #C7C7C7;
  --amarillo: rgb(255, 204, 0);
  --verde: #009688;
  --verdeclaro: #15deca;
  --verdecolorido: #13413d;
  --verde-darker: #025141;
  --verde-lighter: #047c6a;
  --verdedegradado: linear-gradient(to left, var(--verde-darker), var(--verde-lighter));
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

/* GENERAL */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-snap-type: y mandatory;

}

*,
* ::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



body {
  font-family: 'Quicksand', sans-serif;
  background: var(--azul);
  transition: background-color 0.4s, color 0.4s;
  font-size: 1.3rem;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  position: relative;
}



.inactive {
  display: none;
}

/* BARRA DE NAVGACION PRINCIPAL  */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 0 24px;


}

.nav-fixed {
  /* background-color: var(--azul);*/
  color: var(--blanco);

}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: 10px;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
}

/* Botones */
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  /* Quita el subrayado */
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;

  position: relative;
  transition: .5s ease;
}


/* Efecto botones */
.navbar-left ul li a::before,
.navbar-right ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--blanco);
  transition: .5s ease;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  color: var(--blanco);
  transition-delay: .5s;
}

.navbar-left ul li a:hover::before,
.navbar-right ul li a:hover::before {
  width: 100%;
}

.navbar-left ul li a::after,
.navbar-right ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0; /* Cambiamos la posición bottom a top */
  height: 2px; /* Cambiamos la altura para que coincida con el efecto de línea */
  width: 0;
  background-color: var(--verde-darker);
  transition: .4s ease;
  transform: scaleX(0); /* Cambiamos scaleY por scaleX */
  transform-origin: left top; /* Cambiamos el punto de origen */
}

.navbar-left ul li a:hover::after,
.navbar-right ul li a:hover::after {
  width: 100%; /* Cambiamos la propiedad a 100% */
  transform: scaleX(1); /* Hacemos crecer la barra hacia la derecha */
  transition-delay: 0.4s;
  background-color: var(--blanco); /* Ajustamos el color de fondo */
  color: var(--azul); /* Ajustamos el color del texto */
}



.logo {
  height: 80px;
  width: 200px;

}





/* NAV MOBILE */

.hamburger-menu {
  display: none;

}

.mobile-menu {


  position: absolute;
  top: 80px;
  left: 0px;
  width: 35%;
  padding: 24px;
  border-radius: 0 8px 8px 0;
  /* Radio de esquina derecho e inferior derecho */
  background-color: var(--white);
  box-shadow: 5px 5px 25px -10px var(--black);
  background-color: rgb(8, 115, 177);
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px; */
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--blanco);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.sign-out {
  font-size: var(--sm);
  color: var(--blanco) !important;
}

/* CHECKBOX */



.dark-mode {

  /* Estilos para el modo oscuro */
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(https://imgur.com/tBxsfVQ);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;

}

#switch {
  display: none;
}

label {
  cursor: pointer;
  text-indent: -2000px;
  width: 40px;
  height: 20px;
  background: var(--verdedegradado);
  border-radius: 200px;
  position: relative;
  display: inline-block;
  /* Agregamos esta línea para que ocupe el espacio adecuado */
}

label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 90px;
  transition: 0.4s;
}

input:checked+label {
  background: var(--amarillo);

}

input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-80%);
  background: var(--blanco);
  /* Corregimos esta línea */
}



/*-----------------------------------*\
  #CONTENT
\*-----------------------------------*/

.banner {
  height: 100vh;

  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../img/1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;


}

@keyframes aparecer {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(20%);
  text-align: center;
  color: var(--blanco);
  opacity: 1;
  animation: aparecer 2s forwards;
  /* Cambia infinite a forwards */
}

.content h1 {
  margin-top: 40px;
  font-size: 2.5rem;
  color: var(--verdeclaro);
}

.content p {
  margin: 10px auto;
  font-weight: 300;
  line-height: 1.6;
  max-width: 600px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  background: var(--verdedegradado);
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
}

button i {
  margin-right: 8px;
}

button span {
  background: transparent;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;

  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  background-color: var(--verdecolorido);
  transform: scale(1.15);
}


.h1_magic {
  display: none;

}

.magic1 {

  font-size: 1.7rem;

  /* Centra el contenido horizontalmente */
}

.magic2 {
  display: none;
}

.magic3 {

  font-size: 1.3rem;
  margin-bottom: 40px !important;
  /* Centra el contenido horizontalmente */
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


@media (max-width: 321px) {}

.magic2 {
  font-size: 1.3rem;

}

@media (max-width: 390px) {

  .content {
    padding: 10px;
  }

  .content h1 {
    display: none;
  }

  .content p {
    margin: 11px 29px;

  }

  .h1_magic {
    display: block !important;
    color: rgb(29, 194, 172);
    font-size: 2.8rem;
    font-weight: bold;
    /* Aplica negrita al texto */
    /* Cambia el tamaño de la fuente según tus preferencias */
    text-align: center;
    /* Centra el contenido horizontalmente */
    font-family: 'Roboto', sans-serif;
    /* Cambia a la fuente que desees */
    margin: 0 8px 0 8px;
  }

  .magic1 {
    display: none;

  }




}

@media (max-width: 991px) {
  .navbar-right {
    display: none;
  }



  .navbar-left ul {
    display: none;
    /* No necesitas esto aquí */
  }

  /* Agrega el botón hamburguesa */
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    background: transparent;
    gap: .67rem;

  }



  .hamburger-menu>div {
    /* La selección .hamburger-menu>div en CSS se refiere a los elementos <div> que son hijos directos del elemento con 
    la clase .hamburger-menu. 
    
    En otras palabras, está seleccionando los elementos <div> que están dentro del contenedor con la clase .hamburger-menu.

    Aquí tienes la explicación en español:

         .hamburger-menu: Selecciona un elemento con la clase "hamburger-menu".
        >: Indica que estamos seleccionando un elemento hijo directo del elemento anterior.
        div: Selecciona los elementos <div> que son hijos directos del elemento con la clase .hamburger-menu. 
        
    */
    background-color: var(--blanco);
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
  }

  .hamburger-menu:hover div:first-child {
    transform: rotate(45deg);
  }

  .hamburger-menu:hover div:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu:hover div:last-child {
    transform: rotate(-45deg);
  }

  .navbar-center .logo {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */

  }




}



@media (min-width: 992px) {
  /* Estilos y reglas para pantallas de 992 píxeles o más  */
  /**
   * CUSTOM PROPERTY
   */


}