:root {

  --fuentePrincipal: 'Staatliches', cursive;
  --azul: rgb(10, 33, 51);
  --azulclaro: rgb(18, 60, 91);
  --blanco: white;
  --negro: black;
  --celeste: rgb(71, 176, 217);
  --negroopacidad: #0000003d;
  --suaveplomo: #C7C7C7;
  --amarillo: rgb(255, 204, 0);
  --verde: #009688;
  --verdeclaro: #15deca;
  --verdecolorido: #13413d;
  --verde-darker: #025141;
  --verde-lighter: #047c6a;
  --verdedegradado: linear-gradient(to left, var(--verde-darker), var(--verde-lighter));
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --verdesurface: #0e5236;
  --miFondoGradiente: #8bcef0;
  /* fallback para navegadores antiguos */
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




  /* Creando una variable para el color degradado azul */
  --azul_nice: #000428;
  /* fallback para navegadores antiguos */
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  --azul_degradado: linear-gradient(to right, #004e92, #000428, var(--azul_nice));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /**
   * typography
   */

  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 3.5rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.3rem;

  --fw-600: 600;
  --fw-700: 700;

  /**
    * border radius
    */

  --radius-5: 5px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;

  /**
    * spacing
    */

  --section-padding: 60px;

  /**
    * shadow
    */

  --shadow: 0 -5px 10px var(--manatee);

  /**
    * transition
    */

  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

/* GENERAL */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-snap-type: y mandatory;

}

*,
* ::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



body {
  font-family: 'Quicksand', sans-serif;
  background: var(--azul);
  transition: background-color 0.4s, color 0.4s;
  font-size: 1.3rem;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  position: relative;
}

.section {
  padding-block: var(--section-padding);
}

.inactive {
  display: none;
}



.container {
  max-width: 1077px;
  margin-inline: auto;
}

/* BARRA DE NAVGACION PRINCIPAL  */
nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* Puedes ajustar la altura según tu diseño */
  justify-content: space-between;
  text-decoration: none;
  padding: 0 24px;


}

.nav-fixed {
  /* background-color: var(--azul);*/
  color: var(--blanco);

}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: 10px;
}

.navbar-left {
  display: flex;
}



.navbar-left ul {
  margin-left: 12px;
}

/* Botones */
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  /* Quita el subrayado */
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;

  position: relative;
  transition: .5s ease;
  z-index: 1;
}


/* Efecto botones */
.navbar-left ul li a::before,
.navbar-right ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--blanco);
  transition: .5s ease;
  z-index: -1;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  color: var(--blanco);
  transition-delay: .5s;
}

.navbar-left ul li a:hover::before,
.navbar-right ul li a:hover::before {
  width: 100%;
}

.navbar-left ul li a::after,
.navbar-right ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--azul_nice);
  transition: .4s ease;
  z-index: -1;


}

.navbar-left ul li a:hover::after,
.navbar-right ul li a:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;

}



.logo {
  height: 80px;
  width: 200px;

}





/* NAV MOBILE */

.hamburger-menu {
  display: none;

}

.mobile-menu {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  padding: 24px;

  /* Radio de esquina derecho e inferior derecho */
  background-color: var(--white);
  box-shadow: 5px 5px 25px -10px var(--black);
  background-color: var(--azulclaro);

}

.mobile-menu.active {
  display: block;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: 2rem;
  /* Cambia el tamaño de fuente según tus preferencias */
  text-align: center;
  /* Centrar el texto horizontalmente */
  display: block;
  /* Para que los enlaces ocupen todo el ancho disponible */

}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--blanco);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.sign-out {
  font-size: var(--sm);
  color: var(--blanco) !important;
}

/* CHECKBOX */





#switch {
  display: none;
}

label {
  cursor: pointer;
  text-indent: -2000px;
  width: 40px;
  height: 20px;
  background: var(--miFondoGradiente);
  border-radius: 200px;
  position: relative;
  display: inline-block;
  /* Agregamos esta línea para que ocupe el espacio adecuado */
}

label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 90px;
  transition: 0.4s;
}

input:checked+label {
  background: gray;

}

input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-80%);
  background: var(--blanco);
  /* Corregimos esta línea */
}





/*-----------------------------------*\
  #HOME
\*-----------------------------------*/




/* Estilos para la sección .home.banner */

.figurita-siell {
  position: absolute;
  /* Cambiado a absolute para centrar en la pantalla */
  top: 143%;
  /* Lleva el borde superior del elemento al 50% de la pantalla */
  left: 50%;
  /* Lleva el borde izquierdo del elemento al 50% de la pantalla */
  transform: translate(-50%, -50%);
  /* Centra el elemento en base a su centro */
  width: 150px;
  height: 174px;

}

.figurita-siell img {
  width: 100%;
  /* Para asegurarse de que la imagen ocupe todo el espacio disponible */
  height: 100%;
  /* Similarmente, la altura ocupará todo el espacio disponible */
  object-fit: cover;
  /* Escala la imagen para llenar completamente el espacio sin deformación */
  border-radius: 5px;
  /* Un borde redondeado para la imagen */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra ligera */
}


.figurita-siell:hover {
  transform: translate(-50%, -50%) scale(1.3);
  /* Aumenta el tamaño en un 10% al hacer hover */
}


.home.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../img/3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.dark-mode .home.banner {
  background-image: linear-gradient(rgba(12, 11, 11, 0.6), rgba(2, 2, 2, 0.6)), url(../img/2.webp);
}

@keyframes aparecer {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }

  100% {
    transform: translateY(5%);
    opacity: 1;
  }
}

/* Estilos para el contenido */
.home.banner .content {
  transform: translateY(20%);
  text-align: center;
  color: var(--blanco);
  opacity: 1;
  animation: aparecer 2s forwards;
}

/* Estilos para el título */
.home.banner .content h1 {
  margin-top: -107px;
  font-size: 2.5rem;
  color: var(--miFondoGradiente);
}

/* Estilos para el párrafo */
.home.banner .content p {
  margin: 10px auto;
  font-weight: 300;
  line-height: 1.6;
  max-width: 600px;
}

/* Estilos para el botón general */
.home.banner .boton-general {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  background: var(--azul_degradado);

  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
}

.home.banner .boton-general i {
  margin-right: 8px;
}

.home.banner .boton-general span {
  background: transparent;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.home.banner .boton-general:hover span {
  width: 100%;
}

.home.banner .boton-general:hover {
  background-color: var(--verdecolorido);
  transform: scale(1.15);
}

/* Estilos para las redes sociales */
.home.banner .redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  /* Espaciado entre el botón y las redes sociales */
}

.home.banner .redes-sociales a {
  display: inline-block;
  margin: 0 4px;
  /* Espaciado entre las redes sociales */
  font-size: 24px;
  /* Tamaño de la fuente de las redes sociales */
  color: var(--suaveplomo);
  /* Cambia al color deseado */
}

.home.banner .redes-sociales a:hover {
  color: var(--suaveplomo);
  transform: translateY(-3px);
}

.home.banner .redes-sociales a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--suaveplomo);
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home.banner .redes-sociales a:hover::before {
  transform: scaleX(1);
}








.content h1 {
  margin-top: 40px;
  font-size: 2.5rem;
  color: var(--verdeclaro);
}

.content p {
  margin: 10px auto;
  font-weight: 300;
  line-height: 1.6;
  max-width: 600px;
}

.boton-general {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  background: var(--verdedegradado);
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
}

.boton-general i {
  margin-right: 8px;
}

.boton-general span {
  background: transparent;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;

  transition: 0.5s;
}

.boton-general:hover span {
  width: 100%;
}

.boton-general:hover {
  background-color: var(--verdecolorido);
  transform: scale(1.15);
}


.h1_magic {
  display: none;

}

.magic1 {

  font-size: 1.7rem;

  /* Centra el contenido horizontalmente */
}

.magic2 {
  display: none;
}

.magic3 {

  font-size: 1.3rem;
  margin-bottom: 40px !important;
  /* Centra el contenido horizontalmente */
}




/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/


.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--celeste);


}

.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}

/*-----------------------------------*\
  #PRODUCTS
\*-----------------------------------*/


.products {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--verdeclaro);


}

.products .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}

/*-----------------------------------*\
  #SERVICES
\*-----------------------------------*/


.services {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--azul_degradado);


}

.services .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}

/*-----------------------------------*\
  #PROYECTS
\*-----------------------------------*/


.proyects {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--verdesurface);


}

.proyects .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/


.blog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--suaveplomo);


}

.blog .container  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/


.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--azulclaro);


}

.contact .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


@media (max-width: 321px) {

  .content {
    margin-top: 455px !important;
  }

  .magic2 {
    font-size: 1.3rem;

  }

  .logo {
    height: 80px;
    width: 180px;
    margin-left: 18px;
  }

  .figurita-siell {
    position: relative;
    margin-top: 43px;
    width: 50px !important;
    height: 74px !important;
  
  }


}


@media (max-width: 390px) {



  .content {
    padding: 10px;
    margin-top: 80%;
  }

  .content h1 {
    display: none;
  }

  .content p {
    margin: 11px 29px;

  }

  .home.banner .content h1 {
    margin-top: -350px;
  }

  .h1_magic {
    display: block !important;
    color: rgb(29, 194, 172);
    font-size: 2.8rem;
    font-weight: bold;
    /* Aplica negrita al texto */
    /* Cambia el tamaño de la fuente según tus preferencias */
    text-align: center;
    /* Centra el contenido horizontalmente */
    font-family: 'Roboto', sans-serif;
    /* Cambia a la fuente que desees */
    margin: 0 8px 0 8px;
  }

  .magic1 {
    display: none;


  }

  .figurita-siell {
    top: 355%;
    width: 120px;
    height: 144px;

  }

  /* Mover el switch-container dentro de .navbar-left */
  .navbar-left #switch-container label {
    text-indent: -2000px;
    /* Mueve el texto fuera del área visible */
  }


}

@media (max-width: 991px) {

  nav {
    background: #000428;
    /* fallback para navegadores antiguos */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  nav::after {
    content: '';
    /* Agrega un contenido vacío para el pseudo-elemento */
    position: absolute;
    /* Colocamos el pseudo-elemento de manera absoluta */
    left: 0;
    /* Lo posicionamos al inicio del nav */
    bottom: -1px;
    /* Mueve el pseudo-elemento hacia abajo (la altura de la línea + la sombra) */
    width: 100%;
    /* Ancho igual al del nav */
    height: 1px;
    /* Altura de la línea */
    background-color: var(--suaveplomo);
    /* Color de la línea blanca */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra debajo de la línea */
  }

  .navbar-center {
    /* Establecemos un contenedor flexible */
    display: flex !important;

    /* Centramos el contenido horizontalmente */
    justify-content: center;

    /* Centramos el contenido verticalmente */
    align-items: center;

    /* Establecemos la posición absoluta en la parte superior izquierda de la ventana */
    top: 0;
    left: 0;

    /* Hacemos que el contenedor ocupe todo el ancho de la ventana */
    width: 100%;

    /* Asignamos una altura fija al contenedor */
    height: 100px;
    /* Puedes ajustar la altura según tu diseño */
  }

  .navbar-right {
    display: none;
  }



  .navbar-left ul {
    display: none;
    /* No necesitas esto aquí */
  }



  /* Menú hamburguesa */
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    width: 2.5rem;
    height: 3rem;
    border: 0;
    background: transparent;
    cursor: pointer;
    margin-top: 39px;
    gap: 0.65rem;
    /* separacion de las lineas */

    /* Agregamos un cursor para indicar que es interactivo */
  }

  .hamburger-menu>div {
    /* La selección .hamburger-menu>div en CSS se refiere a los elementos <div> que son hijos directos del elemento con 
    la clase .hamburger-menu. 
    
    En otras palabras, está seleccionando los elementos <div> que están dentro del contenedor con la clase .hamburger-menu.

    Aquí tienes la explicación en español:

         .hamburger-menu: Selecciona un elemento con la clase "hamburger-menu".
        >: Indica que estamos seleccionando un elemento hijo directo del elemento anterior.
        div: Selecciona los elementos <div> que son hijos directos del elemento con la clase .hamburger-menu. 
        
    */
    background-color: var(--blanco);
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    /* Combinamos las transiciones en una sola línea */
    transform-origin: left;
  }

  .hamburger-menu:hover div:first-child {
    transform: rotate(45deg);
  }

  .hamburger-menu:hover div:nth-child(2) {
    opacity: 0;
    /* desaparece */
  }

  .hamburger-menu:hover div:last-child {
    transform: rotate(-45deg);
  }



  /* Mover el switch-container dentro de .navbar-left */
  .navbar-left #switch-container {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
  }



}



@media (min-width: 992px) {
  /* Estilos y reglas para pantallas de 992 píxeles o más  */
  /**
   * CUSTOM PROPERTY
   */


}